<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :budget, style: "display: block" %>
    <%= form.number_field :budget %>
  </div>

  <div>
    <%= form.label :homepage, style: "display: block" %>
    <%= form.text_field :homepage %>
  </div>

  <div>
    <%= form.label :overview, style: "display: block" %>
    <%= form.text_field :overview %>
  </div>

  <div>
    <%= form.label :popularity, style: "display: block" %>
    <%= form.text_field :popularity %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.label :revenue, style: "display: block" %>
    <%= form.text_field :revenue %>
  </div>

  <div>
    <%= form.label :runtime, style: "display: block" %>
    <%= form.number_field :runtime %>
  </div>

  <div>
    <%= form.label :movie_status, style: "display: block" %>
    <%= form.text_field :movie_status %>
  </div>

  <div>
    <%= form.label :tagline, style: "display: block" %>
    <%= form.text_field :tagline %>
  </div>

  <div>
    <%= form.label :vote_average, style: "display: block" %>
    <%= form.text_field :vote_average %>
  </div>

  <div>
    <%= form.label :vote_count, style: "display: block" %>
    <%= form.number_field :vote_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
