<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= movie.budget %>
  </p>

  <p>
    <strong>Homepage:</strong>
    <%= movie.homepage %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= movie.overview %>
  </p>

  <p>
    <strong>Popularity:</strong>
    <%= movie.popularity %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Revenue:</strong>
    <%= movie.revenue %>
  </p>

  <p>
    <strong>Runtime:</strong>
    <%= movie.runtime %>
  </p>

  <p>
    <strong>Movie status:</strong>
    <%= movie.movie_status %>
  </p>

  <p>
    <strong>Tagline:</strong>
    <%= movie.tagline %>
  </p>

  <p>
    <strong>Vote average:</strong>
    <%= movie.vote_average %>
  </p>

  <p>
    <strong>Vote count:</strong>
    <%= movie.vote_count %>
  </p>

</div>
