<div class="row" id="<%= dom_id movie %>">
  <div class="column_image">
    <img src="/public/apple-touch-icon.png" alt="Default Image" style="width:128px;height:128px;">
  </div>
  <div class="column_center">
    <p>
      <strong>Movie Name:</strong>
      <%= movie.title %>
    </p>

    <div>
      <strong>Genres:</strong>
      <% gender_list = "" %>
      <% flag = movie.genres.last %>
        <% movie.genres.each do |genre|  %>
       <% gender_list += genre != flag ? "#{genre.genre_name},  " : "#{genre.genre_name}" %>
    <% end  %>
    <%= gender_list %>
    </div>

    <div>
      <strong>Languages:</strong>
      <% laguages_list = "" %>
      <% flag = movie.languages.last %>
        <% movie.languages.distinct(:language_name).each do |language|  %>
        <% laguages_list += language != flag ? "#{language.language_name},  " : "#{language.language_name}" %>
      <% end  %>
      <%= laguages_list %>
    </div>
  </div>
  <div class="column_rigth">
    <div>
      <strong>Company:</strong>
      <% companies_list = "" %>
      <% flag = movie.movie_companies.last %>
      <% movie.movie_companies.each do |company|  %>
        <% companies_list += company != flag ? "#{company.production_company.company_name},  " : "#{company.production_company.company_name}" %>
      <% end  %>
      <%= companies_list %>
    </div>

    <div>
      <strong>Cast:</strong>
      <% people_list = "" %>
      <% counter = 0 %>
      <% movie.movie_casts.distinct(:person_id).first(4) .each do |movie_cast|  %>
         <% people_list = counter != 3 ? "- #{movie_cast.person.person_name}" : "- #{movie_cast.person.person_name} ..." %>
        <% counter += 1 %>
        <p>  <%= people_list %> </p>
      <% end  %>
    </div>
  </div>
</div>
