<p style="color: green"><%= notice %></p>

<h1>Smarter Select Test</h1>

<hr />

<%= form_tag movies_path, :method => 'get' do  %>
  <%= text_field_tag :search, params[:search] %>

    <% ['Name', 'Gender', 'Language', 'Movie Cast'].each do |criteria_option| %>
    <%= radio_button_tag 'criteria', criteria_option, false %>
    <%= label_tag criteria_option %>
    <% end %>

  <%= submit_tag "Search"  %>

<% end %>

<hr />

<div style="font-size: 2rem;">
  <%= paginate @movies %>
</div>

<hr />

<%= link_to "New movie", new_movie_path %>

<hr />

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render "movie_index", movie: movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
    <hr />
  <% end %>
</div>






