<%= form_with(model: production_company) do |form| %>
  <% if production_company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(production_company.errors.count, "error") %> prohibited this production_company from being saved:</h2>

      <ul>
        <% production_company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
