<p style="color: green"><%= notice %></p>

<%= render @language_role %>

<div>
  <%= link_to "Edit this language role", edit_language_role_path(@language_role) %> |
  <%= link_to "Back to language roles", language_roles_path %>

  <%= button_to "Destroy this language role", @language_role, method: :delete %>
</div>
