<%= form_with(model: movie_genre) do |form| %>
  <% if movie_genre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie_genre.errors.count, "error") %> prohibited this movie_genre from being saved:</h2>

      <ul>
        <% movie_genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.text_field :movie_id %>
  </div>

  <div>
    <%= form.label :genre_id, style: "display: block" %>
    <%= form.text_field :genre_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
