<p style="color: green"><%= notice %></p>

<%= render @movie_language %>

<div>
  <%= link_to "Edit this movie language", edit_movie_language_path(@movie_language) %> |
  <%= link_to "Back to movie languages", movie_languages_path %>

  <%= button_to "Destroy this movie language", @movie_language, method: :delete %>
</div>
