<%= form_with(model: movie_company) do |form| %>
  <% if movie_company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie_company.errors.count, "error") %> prohibited this movie_company from being saved:</h2>

      <ul>
        <% movie_company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.text_field :movie_id %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.text_field :company_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
