<p style="color: green"><%= notice %></p>

<%= render @movie_company %>

<div>
  <%= link_to "Edit this movie company", edit_movie_company_path(@movie_company) %> |
  <%= link_to "Back to movie companies", movie_companies_path %>

  <%= button_to "Destroy this movie company", @movie_company, method: :delete %>
</div>
