<div id="<%= dom_id movie_crew %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_crew.movie_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= movie_crew.person_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= movie_crew.department_id %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= movie_crew.job %>
  </p>

</div>
