<div id="<%= dom_id movie_cast %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_cast.movie_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= movie_cast.person_id %>
  </p>

  <p>
    <strong>Character name:</strong>
    <%= movie_cast.character_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= movie_cast.gender_id %>
  </p>

  <p>
    <strong>Cast order:</strong>
    <%= movie_cast.cast_order %>
  </p>

</div>
