<%= form_with(model: movie_keyword) do |form| %>
  <% if movie_keyword.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie_keyword.errors.count, "error") %> prohibited this movie_keyword from being saved:</h2>

      <ul>
        <% movie_keyword.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.text_field :movie_id %>
  </div>

  <div>
    <%= form.label :keyword_id, style: "display: block" %>
    <%= form.text_field :keyword_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
